/* Outer div of each section*/
.div{
  border: 0.75vw solid #0ff;
  margin: 5vh 5vw;
  padding: 3vh 3vw;
  text-align: center;
  border-radius: 6vmax;
}

/* Paragraf with buttons */
.parButton { margin: 0vmax; }

/* Buttons */
.button {
    font-size: 1.25vw;
    padding: 0.7vw;
    border-radius: 30%;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

/* Buttons above the boards that can be hidden  */
.centerButton{ margin: 1vh 0vw; }

/* Buttons to the left of the boards */
.leftButton{ width: 10vw }

/* Title for each section */
.h1{
  font-family: 'Trocchi', serif;
  font-size: 3.75vmax;
  font-weight: bold;
  line-height: 4vh;
  margin: 3vh 4vw;
}

/* All text */
.text{
  font-family: 'Trocchi', serif;
  font-weight: bold;
  font-size: 1.25vw;
  margin: 1vh;
}

/* Text describing the section */
.idea{
  display: inline-block;
  max-width: 50vw;
  word-wrap: break-word;
  overflow: ellipsis;
  text-align: justify;
  margin: 5vh 0vh
}

/* The canvas */
.board{
  margin: 1vh 0vw;
  margin-bottom: 0vh;
  width: 30vw;
  height: 30vh;
}

/* Div left of the board */
.left{
  margin: 0vh 5.25vw;
  width: 15vw;
  height: 40vh;
  float: left;
  overflow:hidden;
}

/* Div containing the canvas etc */
.right{
  height: 40vh;
  margin-left: 0vw;
  margin-bottom: 0vh;
  overflow:hidden;
}

/* Inner div to the left of the canvas */
.innerLeft{
  float: right;
  width: 10vw;
}

/* Inner div containing the canvas */
.innerRight{
  float: left;
  margin-bottom: 0vh;
}

/* Paragrafs inside the innnerLeft div, containing buttons */
.leftParagraf{
  margin: 1vh 0vw;
}


/* - - - - - - - - - - - -
Section specific (mostly coloring)
- - - - - - - - - - - - -  */
/* Three in row - self play */
.self {
  color: rgb(94,65,47);
  border-color: rgb(94,65,47)
}

.selfButton {background-color: rgb(94,65,47);}
/* Three in row - completing move */
.compl {
  color: rgb(128,0,128);
  border-color: rgb(128,0,128)
}

.complButton {background-color: rgb(128,0,128);}
/* Three in row - game */
.r3 {
  color: rgb(145,0,0);
  border-color: rgb(145,0,0)
}

.r3Button {background-color: rgb(145,0,0);}
/* Connect connectFour */
#connectFour{border-color: rgb(134,146,176)}

#h1C4 {color: rgb(134,146,176);}

.buttonC4 {background-color: rgb(77,88,119);}

#c4Post {color: rgb(134,146,176);}
/* XOR */
.xor{ color: rgb(43,172,43); /* Forest green */ }

#xor{border-color: rgb(49,200,49) /* Forest green */}

#h1Xor {color: rgb(43,172,43); /* Forest green */}

.buttonXor {background-color: rgb(43,172,43); /* Forest green */}
