.parButton {
  margin: 0px;
}

.button {
    font-size: 1.25vw;
    padding: 0.75vw;
    border-radius: 20%;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.centerButton{
  margin: 1vh 0%;
}
.leftButton{
  width: 100%
}
.h1{
  font-family: 'Trocchi', serif;
  font-size: 3.5vw;
  font-weight: bold;
  line-height: 40%;
  margin: 3% 4%;
}

.text{
  font-family: 'Trocchi', serif;
  font-weight: bold;
  font-size: 1.25vw;
  margin: 3vh;
  margin-top: 0vh;
}
.idea{
  margin: 1% 0%;
  margin-top: 0%;
  display: inline-block;
  max-width: 50vw;
  word-wrap: break-word;
  overflow: hidden;
  text-align: justify;
}

.div{
  border: 0.75vw solid #0ff;
  margin: 7.5%;
  padding: 0% 1%;
  text-align: center;
  border-radius: 15%
}

.board{
  margin: 1.5% 0%;
  width: 30vw;
  height: 30vh;
}

.left{
  margin: 0vh 5.25vw;
  width: 15vw;
  height: 50vh;
  float: left;
  overflow:hidden;
}
.right{
  height: 50vh;
  margin-left: 0%;
  overflow:hidden;
}
.innerLeft{
  float: right;
  width: 10vw;
}
.innerRight{
  float: left;
}
.leftParagraf{
  margin: 1vh 0vw;
}
.parSubtitle{
  margin: 1vw;
  font-family: 'Trocchi', serif;
  font-size: 2.75vw;
}

/* --------------
Three in row - self play */
.self {
  color: rgb(94,65,47);
  border-color: rgb(94,65,47)
}
.selfButton {background-color: rgb(94,65,47);}
/* --------------
Three in row - winning move */
.compl {
  color: rgb(128,0,128);
  border-color: rgb(128,0,128)
}
.complButton {background-color: rgb(128,0,128);}
/* --------------
Three in row - game */
.r3 {
  color: rgb(145,0,0);
  border-color: rgb(145,0,0)
}
.r3Button {background-color: rgb(145,0,0);}
/* ----------------------
 Connect connectFour */
#connectFour{border-color: rgb(134,146,176)}
#h1C4 {color: rgb(134,146,176);}
.buttonC4 {background-color: rgb(77,88,119);}
#c4Post {color: rgb(134,146,176);}
/* -----------
 XOR */
.xor{ color: rgb(43,172,43); /* Forest green */ }
#xor{border-color: rgb(49,200,49) /* Forest green */}
#h1Xor {color: rgb(43,172,43); /* Forest green */}
.buttonXor {background-color: rgb(43,172,43); /* Forest green */}
